/*
I hate CSS, SASS is 1000000× better 
*/

/*
CSS variables
*/
:root {
  color-scheme: light;
  --text-color: black;
  --card-bg-color: white;
  --card-bg-color--hover: #eeecec;
  --card-bg-color--active: #dddddd;
  --border-color: #adadad;
  --webkit-thumb-shadow-color: hsl(0, 0%, 32%);
  --webkit-thumb-bg-color: black;
  --shadow-color: rgb(0 0 0 / 26%);
}

/*
Dark mode
*/
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --text-color: white;
    --card-bg-color: black;
    --card-bg-color--hover: rgb(17, 19, 19);
    --card-bg-color--active: rgb(34, 34, 34);

    --border-color: #525252;
    --webkit-thumb-shadow-color: hsl(0, 0%, 68%);
    --webkit-thumb-bg-color: white;
  }
}


*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 350ms ease-out;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container>* {
  margin: 20px 0;
}

.main--gradient {
  background-image: linear-gradient(90deg, #FF5F6D, #FFC371);
  z-index: -1;
}



.container__colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container__label-input>*:not(label) {
  padding: 5px;
  border: 2px solid white;
  transition: border 350ms ease;
  border-radius: 15px;
  padding: 20px;
  margin: 5px 0;
  width: 400px;
}

.container__label-input {
  position: relative;
}

.container__label-input>label {
  color: var(--text-color);
  transition: color 350ms ease;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 25px;
  top: 19px;
}

input[type="color"]:hover {
  cursor: pointer;
}

.container__primary-color-input {

  background-color: #FF5F6D;
}

.container__secondary-color-input {
  background-color: #FFC371;

}

.container__primary-color-input::-webkit-color-swatch, .container__secondary-color-input::-webkit-color-swatch {
  display: none;
}

.container__primary-color-input::-moz-color-swatch, .container__secondary-color-input::-moz-color-swatch {
  display: none;
}

.container__gradient {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container__gradient-orientation-paragraph {
  background-color: var(--card-bg-color);
  border-radius: 5px;
  padding: 5px;
  width: 35%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.container__gradient-orientation-input {
  border-radius: 100vmax;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 1.8px;
  overflow: hidden;
}

.container__gradient-orientation-input::-webkit-slider-runnable-track {
  background-color: var(--border-color);
  border-radius: 100vmax;
  overflow: hidden;
}

.container__gradient-orientation-input::-moz-range-track {
  width: 100%;
  background-color: var(--border-color);
  border-radius: 100vmax;
  overflow: hidden;
}

.container__gradient-orientation-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--webkit-thumb-bg-color);
  aspect-ratio: 1/1;
  height: 15px;
  border-radius: 50%;
  box-shadow: -255px -15px 0px 250px var(--webkit-thumb-shadow-color);
}

.container__gradient-orientation-input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--webkit-thumb-bg-color);
  aspect-ratio: 1/1;
  height: 15px;
  border-radius: 50%;
  box-shadow: -255px -15px 0px 250px var(--webkit-thumb-shadow-color);
}

input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}


button[type="button"] {
  padding: 15px 0;
  width: 145px;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.262);
  background-color: var(--card-bg-color);
  transition: background-color 100ms ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: var(--card-bg-color--hover);
}

input[type="range"]:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

input[type="range"]:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

button:active {
  background-color: var(--card-bg-color--active);
}

.container__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

@media screen and (max-width: 768px) {
  .container__label-input {
    width: 85vw;
  }

  .container__label-input>*:not(label) {
    width: 85vw;
  }

  .container__buttons {
    flex-direction: column;
  }

  .container__buttons>* {
    margin-bottom: 10px;
  }

  .container__gradient-orientation-paragraph {
    width: 100%;
  }

  .container__gradient-orientation-input::-webkit-slider-thumb {
    box-shadow: -485px -15px 0px 480px var(--webkit-thumb-shadow-color);
  }

  .container__gradient-orientation-input::-moz-range-thumb {
    box-shadow: -485px -15px 0px 480px var(--webkit-thumb-shadow-color);
  }
}